.about__container {
  justify-content: center;
  align-items: center;
}

.about__title {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  color: var(--logo);
}

.about__desc {
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.about__summer {
  object-fit: contain;
  padding: 10px;
  flex: 0.5;
  width: 400px;
  height: auto;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  border-top-left-radius: 300px;
}

.about__text {
  flex: 0.5;
  margin-right: 10px;
  padding: 10px;
}

.about__video {
  margin-top: 50px;
  width: 320px;
  height: 24opx;
}
